body {
    background-color: white;
}

#retangulo_maior {
    margin-left: 0%;
    margin-right: 0%;
    width: 100% !important;
    max-width: 100%;
    padding: 0%;
}

#primeira_linha {
    margin-bottom: 3%;
}

#Meus_Projetos {
    background-color: rgb(248, 248, 248);
    width: 100%;
}

#Meus_Projetos h3 {
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 85%;
}

.row.align-items-center {
    height: 100%;
}

.offset-2.col-3 {
    padding: 0%;
}

p {
    margin-bottom: 0%;
}

#linhaBarraDePesquisa {
    height: 100%;
}

#barra_de_pesquisa {
    background-color: white;
    margin-top: 2%;
    border: 3px solid black;
}

#inputPesquisa {
    height: 100%;
    border-style: none;
}

#inputPesquisa:press {
    border-style: none !important;
    box-shadow: 0 0 0 0;
    border: 0px;
}

#barra_de_pesquisa p {
    margin-bottom: 2%;
    margin-top: 2%;
}

#botao_adiciona_obra {
    background-color: #00D38D;
    width: 100%;
    height: 2%;
}

#botao_adiciona_margin {
    margin: 3%;
}

p.col-8 {
    font-size: 12px;
    padding: 0%;
}

table {
    margin-left: 3%;
}

thead {
    background-color: #dedede;
}

.tdImgs {
    justify-content: center;
    align-items: center;
}

table img {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgConcluir {
    width: 25% !important;
}

#imgServicos {
    width: 15%;
}

#servicos:hover {
    background-color: #00000000;
}
















.card_servicos {
    margin-left: 7%;
}

.card_servicos h3 {
    font-size: 80%;
}

.card_servicos p {
    font-size: 60%;

}

.icon_feedback {
    width: 80%;
}

#adicionaCard {
    margin-top: 5%;
}