@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* Desabilita o scroll no body */
body{
    height: 100%;
    overflow: hidden;
}
/* Define detalhes para todos os elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Estiliza o conteúdo dentro de section */
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    overflow: hidden;
}

/* Estiliza o círculo que fica no canto inferior direito */
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 153, 0);
    clip-path: circle(50% at bottom right);
}

/* Define o display dos elementos que ficarão dentro de 'content' */
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Define propriedades do texto dentro de content */
.content .text{
    position: relative;
    max-width: 600px;
    margin-right: 30px;
    margin-bottom: 150px;
}
.content .text h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}
.content .text h2 span{
    font-size: 3.5em;
    color: #04844B;
}
.content .text p{
    color: rgb(0, 0, 0);
    
}
.content .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #04844B;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.content .text a:hover{
    transform: translateY(-10px);
}

/* Define propriedades do ícones */
.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons li{
    list-style: none;
}
.icons li a{
    display: inline-block;
    margin-left: 45px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
}
.icons li a:hover{
    background: #e51e2a;
    transform: translateY(-10px);
}
.icons li a img{
    filter: invert(1);
    transform: scale(0.5);
}

/* Define propriedades das imagens */
.boxImg{
    position:relative;
    right: 0;
    left: -50px;
    bottom: 5px;
}
.boxImg img{
    width: 222px;
}
.boxImg .img1{
    transform: rotate(-0deg)
} 


 /*Navbar*/
nav{
    position:relative;
    z-index:99;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left, rgba(0, 107, 63, 0.9), rgb(41, 161, 105));

    padding: 1rem 1.5rem;

}

nav h1{
    letter-spacing: 3px;
    padding: 0.5rem 1rem;
    padding-right: 5px;
    transition: 2s;
    color:#FFFF8F;
    animation: mudarcor 10s infinite;
}


.menuNavbar{
cursor: pointer;
}
.menuNavbar.logado{
    font-size:150%;
    margin-left: 60%;
}
.loginNavbar.logado{
    display:none;

}
.registrarNavbar.logado{
    display:none;
}
.deslogado3.logado{
    display:none;
}



.menuNavbarGrande{
    display:none;
    align-items: center;
    height:80px;

    width: 60%;
}

.menuNavbarGrande a{

    color:white;
    text-decoration: none;
    transition: 0.6s;
    margin-left:20%;
    font-size: 115%;

}

.menuNavbarGrande a:hover{
    color:black;
    background-color:rgb(255, 255, 255) ;
    padding: 3%;
    border-radius: 6px;

}

.btnDropDown:hover{
    transform: scale(1.2);

}
.btnDropDown{
    transition: 1s;
    appearance: none;
    outline:none;
    border:none;
    background: none;
    cursor: pointer;
    display:block;
    width: 2rem;
    height:2rem;
}

.btnDropDown span{
    color:black;
    font-size: 2rem;
}

.mobileMenu{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    z-index:98;
    padding-top: 6rem;
    opacity: 0;
    transform: translateY(-100%);
    background-color: black;
    color:red;
    transition: 0.3s;


}

.mobileMenu.is-open{
    opacity: 1;
    transform:translateY(0);

}


.mobileMenu a{
    display:block;
    padding: 1rem;
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    transition: 1s;
}

.mobileMenu a.sumir{
display:none;
}

.mobileMenu a:hover{
    color:black;
    background: #66FF99;
    
}
#fotoLogo{
    width: 15%;
    margin-left: 65px;

}
@media (min-width:1100px){
    .btnDropDown{
        display:none;
    }
    .menuNavbarGrande{
        display:flex;
    }
}
.foto_container{
    align-items: center;
}
.foto{
   width: 60%;
    margin-left: 20%;
    margin-right: 30%;
   padding: 10px;
}