/*No Body, setamos a cor de fundo e a fonte base da página*/

body {
    background-color: #DAD9D9;
    font-family: Verdana;
}

/* Os estilos abaixo tem como objetivo tornar a Navbar esteticamente agradável*/

*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #FFB719;
    height:80px;
}

nav ul.direita{
    float:right;
    height:80px;
    
}

nav ul.esquerda{
    float:left;
    height:80px;
    
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin:0.5px;
    height: 80px;
    
}
nav ul li a{
    color:#079D56;
    font-size: 17px;
    padding:7px 13px;
    border-radius: 3px;
    text-transform:uppercase;
    
}
a.active,a:hover{
    background: #079D56;
    color: aliceblue;
}

/* O objetivo do estilo a seguir é setar a cor de fundo, a largura da div e um margin para centralizá-la*/

#retangulo_Maior {
    background-color: rgb(243, 246, 250);
    width: 90%;
    margin-left: 5%;
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
}

.linha_obras {
    margin-top: 5%;
}

/* Nas id's e classes a seguir foi necessário retirar o padding natural do bootstrap, colocar margin's e arredondamento, a fins estéticos */

#tira_padding {
    padding: 0% !important;
}

#meus_Projetos {
    margin-bottom: 10%;
}

.card_servicos {
    padding: 0% !important;
}

.img_obra {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nota_servico {
    border-left: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nota_servico p {
    margin-bottom: 0%;
}

.informacoes_card {
    background: linear-gradient(180deg, #FF8B22 0%, #FFB719 100%);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 100%;
    height: 50%;
}

.informacoes_card h3 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.informacoes_baixo {
    margin-top: 10%;
}

button {
    width: 6rem;
    height: 5rem;
}