/* Edita o corpo do documento e passa características como a fonte para seus filhos */
body{
    background-color: white;
    width: 100vw;
    font-family: Verdana;
    height: 100%;
    overflow: hidden;
}

/* Serve para remover o padding e border de elementos */
.noPadding{
    padding: 0;
    border: 0;
    font-size: 0;
    
}

/* Classe relativa a estilização do título das obras */
.tituloObra{
    font-size: 1.5vw;
    color: white;
    padding: 0;
    border: 0;
    margin-bottom: 3%;
    margin-top: 2%;
    font-weight: bold;
}

/* Classe relativa a estilização dos detalhes das obras */
.detalhesObra{
    font-size: 1vw;
    color: white;
    padding: 0;
    border: 0;
    margin-bottom: 0.5%;
    margin-top: 1%;
}

/* Transforma a cor de fundo de elementos no verde definido no guia de estilos */
.green{
    background-color: #079d56;
}

/* Edita propriedades da classe card do bootstrap */
.card{
    width: 90%;
    margin: auto;
}

/* Classe relativa ao texto dos labels dos selects de filtragem */
.textoFiltros{
    padding: 0;
    border: 0;
    margin: 0;
}

/* Classe relativa a estilização de links, mais especificamente, removendo o underline */
.linkIndecorado{
    text-decoration: none;
}

/* Define as cores dos labels dos filtros */
.labelFiltros{
    color: white;
}

/* Estiliza a divisória que mostra as obras */
#nomesDasObras{
    margin: auto;
    width: 95%;
    height: 73.8vh;
}

/* Estiliza a divisória que contem os filtros */
#divFiltros{
    display: flexbox;
    padding-bottom: 1vh;
    padding-top: 0vh;
    padding-left: 3vw;
    border: 0;
    margin: 0;
    background-image: linear-gradient(to left, rgba(0, 107, 63, 0.9), rgb(41, 161, 105));
}

/* Estiliza a navbar */
#navBar{
    background-color: #FFB719;
}

/* Estiliza o texto da esquerda da nav bar */
.textoDireita{
    text-align: right;
}

/* Estiliza o texto central da navbar */
.textoCentro{
    text-align: center;
    margin-top: 2vh;
}

/* Classe para tornar elementos arrendodados. Atua nos cards e nas imagens das obras */
.arredondado{
    border-radius: 15px;
}






/*Navbar*/
nav{
    position:relative;
    z-index:99;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left, rgba(0, 107, 63, 0.9), rgb(41, 161, 105));

    padding: 1rem 1.5rem;

}

nav h1{
    letter-spacing: 3px;
    padding: 0.5rem 1rem;
    padding-right: 5px;
    transition: 2s;
    color:#FFFF8F;
    animation: mudarcor 10s infinite;
}


.menuNavbar{
cursor: pointer;
}
.menuNavbar.logado{
    font-size:150%;
    margin-left: 60%;
}
.loginNavbar.logado{
    display:none;

}
.registrarNavbar.logado{
    display:none;
}
.deslogado3.logado{
    display:none;
}



.menuNavbarGrande{
    display:none;
    align-items: center;
    height:80px;

    width: 60%;
}

.menuNavbarGrande a{

    color:white;
    text-decoration: none;
    transition: 0.6s;
    margin-left:20%;
    font-size: 115%;

}

.menuNavbarGrande a:hover{
    color:black;
    background-color:rgb(255, 255, 255) ;
    padding: 3%;
    border-radius: 6px;

}

.btnDropDown:hover{
    transform: scale(1.2);

}
.btnDropDown{
    transition: 1s;
    appearance: none;
    outline:none;
    border:none;
    background: none;
    cursor: pointer;
    display:block;
    width: 2rem;
    height:2rem;
}

.btnDropDown span{
    color:black;
    font-size: 2rem;
}

.mobileMenu{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    z-index:98;
    padding-top: 6rem;
    opacity: 0;
    transform: translateY(-100%);
    background-color: black;
    color:red;
    transition: 0.3s;


}

.mobileMenu.is-open{
    opacity: 1;
    transform:translateY(0);

}


.mobileMenu a{
    display:block;
    padding: 1rem;
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    transition: 1s;
}

.mobileMenu a.sumir{
display:none;
}

.mobileMenu a:hover{
    color:black;
    background: #66FF99;
    
}
#fotoLogo{
    width: 15%;
    margin-left: 65px;

}
@media (min-width:1100px){
    .btnDropDown{
        display:none;
    }
    .menuNavbarGrande{
        display:flex;
    }
}
.foto_container{
    align-items: center;
}
.foto{
   width: 60%;
    margin-left: 20%;
    margin-right: 30%;
   padding: 10px;
}

