body{
    background-color: orange;
}

.noPadding{
    padding: 0;
    border: 0;
    font-size: 0;
    
}

.tituloObra{
    font-size: 2vh;
    color: white;
    padding: 0;
    border: 0;
    margin-bottom: 3%;
    margin-top: 2%;
    font-weight: bold;
}

.detalhesObra{
    font-size: 1.5vh;
    color: white;
    padding: 0;
    border: 0;
    margin-bottom: 2%;
    margin-top: 1%;
}

.green{
    background-color: green;
}

.card{
    width: 60%;
    height: 100%;
    margin: auto;
}

.textoFiltros{
    padding: 0;
    border: 0;
    margin: 0;
}

#nomesDasObras{
    margin-top: 3vh;
    height: 88vh;
}

#divFiltros{
    display: flexbox;
    padding: 0;
    border: 0;
    margin: 0;
}

