body{
    background-color: white;
    width: 98.7vw;
}

.noPadding{
    padding: 0;
    border: 0;
    font-size: 0;
    
}

.tituloObra{
    font-size: 1.5vw;
    color: white;
    padding: 0;
    border: 0;
    margin-bottom: 3%;
    margin-top: 2%;
    font-weight: bold;
}

.detalhesObra{
    font-size: 1vw;
    color: white;
    padding: 0;
    border: 0;
    margin-bottom: 0.5%;
    margin-top: 1%;
}

.green{
    background-color: #079d56;
}

.card{
    width: 90%;
    margin: auto;
}

.textoFiltros{
    padding: 0;
    border: 0;
    margin: 0;
}

.linkIndecorado{
    text-decoration: none;
}


#nomesDasObras{
    margin: auto;
    width: 95%;
    height: 81vh;
}

#divFiltros{
    display: flexbox;
    padding-bottom: 2vh;
    padding-top: 2vh;
    border: 0;
    margin: 0;
    background-image: linear-gradient(to left, rgba(0,107,63,1), rgba(7,157,86,1));
}


#navBar{
    background-color: #FFB719;
}

.textoDireita{
    text-align: right;
}

.textoCentro{
    text-align: center;
    margin-top: 2vh;
}

.arredondado{
    border-radius: 15px;
}